---

//  ------------------------------------------------------
//  ----------  /03-blog/src/pages/index.astro  ----------
//  ------------------------------------------------------

import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { siteConfig } from "../config/site-config";
import TypeBlogPost from "@components/TypeBlogPost.astro";


const blogPosts = await getCollection('blog');
console.log(blogPosts);

---


<Layout title="Fernando's Blog">
  
	<section class="dark:bg-gray-900 text-white">
    
		<div class="container px-6 py-10 mx-auto">
    	
			<h1 class="text-3xl font-semibold text-gray-300"> {siteConfig.title} </h1>

      		<div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        
        		{ blogPosts.map((post) => <TypeBlogPost post={ post } />) }

      		</div>

    	</div>

  	</section>

</Layout>
